.user-details-export {
  background: linear-gradient(to right, #4caf50, #ec7004);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.user-details-export:hover {
  background: linear-gradient(to right, #ec7004, #4caf50);
}
